<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>BoolZapp</title>
</head>
<body>

    <div id="root" class="container">
        
        <div id="app-view">
            
            <aside>

                <!--Inizio Utente-->
                <div id="user" class="bkgGray">
                    <div @click="msgsViewer" class="avatar">
                        <img class="avatar-img" src="img/avatar_io.jpg" alt="user img">
                    </div>
                    <span class="nomeUtente">Nome Utente</span>
                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i> 
                    </div>
                </div>
                <!--Fine Utente-->

                <!--Inizio Notifications-->
                <div id="notification">
                    <div id="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div id="not-txt">
                        <div class="main-txt">
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div>
                            <a class="light-txt" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>
                <!--Fine Notifications-->

                <!--Inzio Search-->
                <div id="search">
                    <div class="search-cont">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input v-model="search" @keyup="doSearch" class="input-txt" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!--Fine Search-->

                <!--Inizio anteprima chat-->
                <div id="conversations">
                    
                    <!--Inizio singola chat-->
                    <div :class="(item.visible == false) ? 'hide' : '' " v-for="(item, index) in contacts" @click="selectConversation(index); msgsViewer(index)" class="contacts">
                        <div class="avatar">
                            <img class="avatar-img" :src="'img/avatar' + item.avatar + '.jpg'" alt="user img">
                        </div>
                        <div class="chat-info">
                            <div class="main-txt">{{item.name}}</div>
                            <div class="chat-preview">Ciao</div>
                        </div>
                    </div>
                    <!--Fine singola chat-->
                
                           
                </div>
                 <!--Fine anteprima chat--> 
            </aside>

            <main>
                
                <div id="top">
                    <div class="avatar">
                        <img class="avatar-img" :src="imgName" alt="user img">
                    </div>

                    <div class="last-access">
                        <div class="main-txt">{{contacts[indice].name}}</div>
                        <div class="accesso">{{contacts[indice].messages[0].date}}</div>
                        <div class="time">Orario</div>
                    </div>

                    <div class="operations">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i> 
                    </div>
                </div>

                <div id="messages">
                    <div class="conversation-container">
                        <div v-for="message in contacts[indice].messages" :class="active" class="user-messages">
                            <div class="text-container" :class="message.status == 'sent' ? 'sent' : 'received'">
                                {{message.text}}
                                <div class="date">{{message.date}}</div>
                            </div>
                            
                        </div>
                        
                    </div>

                    
                </div>
                
                <div id="write">

                    <div id="emoji">
                        <i class="fa-regular fa-face-smile smile"></i>
                    </div>

                    <div id="msg-content">
                        <input v-model="newMsg" @keyup.enter="sendMessage(indice)" id="typing" placeholder="Scrivi un messaggio" type="text">
                    </div>

                    <div id="rec">
                        <i class="fa-solid fa-microphone mic"></i>
                    </div>
                </div>


            </main>

        </div>

    </div>
    




    <!--Vue JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--Link al file JS-->
    <script type="text/javascript" src="main.js"></script>
</body>
</html>