*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(220, 219, 210);
}

/*Impostazioni generali*/
#app-view{
    width: 1500px;
    min-width: 1000px;
    height: 850px;
    margin: 50px auto;
}

#app-view::after{
    display: table;
    content: "";
    clear: both;
}

aside{
    width: 30%;
    height: 100%;
    float: left;
}

main{
    width: 70%;
    height: 100%;
    float: right;
}

.bkgGray{
    background-color: rgb(234, 234, 234);
}

.main-txt{
    font-weight: bold;
    font-size: 18px;
}

.light-txt{
   
    color: rgb(78, 116, 133);
}

/*Contenuto di Aside*/
#user, #notification{
    height: 10%;
    width: 100%;
}

#search{
    height: 8%;
    width: 100%;
}

#conversations{
    width: 100%;
    height: 72%;
    overflow-y: scroll;
    background-color: white;
}

.contacts:hover{
    background-color: rgb(234, 234, 234);
}
.contacts{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
}

/*Inizio User*/
#user{
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: solid lightgray 1px;
}

.avatar{
    height: 70px;
    width: 70px;
    margin-left: 10px;
}

.avatar-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.nomeUtente{
    margin-left: 10px;
    font-weight: bold;
}

.icons i{
    color: rgb(161, 161, 161);
    margin: 0 8px;
    font-size: 20px;
}

.icons{
   margin-left: 150px;
}
/*Fine User*/

/*Inizio Search*/
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
}

.search-cont{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: solid lightgray 1px;
}

.fa-magnifying-glass, .fa-paperclip, .fa-ellipsis-vertical{
    color: gray;
    font-size: 25px;
    margin:0 15px;

}

.input-txt{
    height: 100%;
    width: 85%;
    border: none;
}

/*Fine Search*/

/*Inizio Notifications*/
#notification{
    background-color: rgb(142, 218, 252);
    display: flex;
    justify-content: start;
    align-items: center;
}

#bell{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(142, 218, 252);
}

#not-txt{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/*Inizio Chat*/
.chat-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
}

.chat-preview{
    font-size: 15px;
    color: gray;
}
/*Fine Chat*/

/*Contenuto di Main*/

/*Inizio Main Top*/
#top, #write{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center; 
}

#top{
    background-color: rgb(234, 234, 234);
}

.last-access{
    padding-left: 10px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accesso, .time{
    color: gray;
}

.operations{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
/*Fine Main Top*/

/*Inizio Main Converstation*/

.user-messages, .interlocutor-messages{
    min-height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 100px;
}

.user-messages{
    justify-content: right;
}

.interlocutor-messages{
    justify-content: start;
}

.conversation-container{
    margin-top: 50px;
}

.single-msg{
    background-color: rgb(213, 249, 186);
    border-radius: 10px;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.single-answer{
    background-color: white;
    border-radius: 10px;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
/*Fine Main Converstation*/




/*Inizio Main Bottom*/
#write{
    background-color: rgb(243, 238, 233);
   
}

#messages{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    background-image: url("img/mine.jpg");
}



#emoji, #rec{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg-content{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.smile, .mic{
    font-size: 30px;
    color: gray;
}

#typing{
    height: 80%;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

#typing::placeholder{
    color: lightgray;
    font-size: 18px

}
/*Fine Main Bottom*/